<div class="footer-container">
  <h1>
    <span>
      PROJECTS START WITH A SIMPLE
    </span>
    <span>
      CLICK OF A BUTTON
    </span>
  </h1>
  <p>
    Please leave a number will get back to you
  </p>

  <div class="form">
    <div>
      <input class="txt-box" type="text" placeholder="name">
    </div>
    <div>
      <input class="txt-box" type="text" placeholder="number">
    </div>
    <div>
      <a class="btn-info" routerLink="">Contact Us</a>
    </div>
    
  </div>
  <h1 class="command">
      <span>Lets </span>
      Connect !!!
    </h1>
    <h1>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter"></i>
    </h1>
</div>
