<div class="about-main">
    <section>
      <h1>
          Contact Us
      </h1>
      <div class="img">
        <img src="assets/about-us/about-clip-art.svg" alt="">
      </div>
    </section>
  
    <section>
      <div>
        <h1>Have an enquiry?</h1>
        <p>
            Tell us more about you and we'll contact you soon.
        </p>
      </div>
      <div>
        <h1>
            Contact Infomation
        </h1>
        <p>
            8 Plantation view, Lernaco Estate <br>
            30 Asteria Road, <br>
            Kingsburgh  <br>
            4126
        </p>
        <hr>

        <p>
            Unit 1, Grantham Building <br>
            ZCBF, Alton,  <br>
            Richards Bay <br>
            4126 <br>
        </p>
        <p>
            Call Us: (+27) 078 246 0248 / (+27) 074 049 5186 <br>
            Email Us: <a href="mailto:quiries@somuhleprojects.com">quiries@somuhleprojects.com</a>   <br>
            Fax to Us: 086 558 7726

        </p>
      </div>
    </section>
  
  </div>
  