.about-main {
  position: relative;
  background: #fff;

  section:nth-child(1) {
    background-image: url(../../assets/about-us/About-Us.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 40%;
    padding: 5rem;

    h1 {
      text-align: center;
      margin-top: 2rem;
    }

    .img {
      width: 100%;
      text-align: center;

      img {
        width: 10rem;
      }
    }
  }

  section:nth-child(2) {
    display: flex;

    div {
      flex: 1;
      padding: 1%;
    }

    div:nth-child(1) {
      img {
        width: 100%;
      }
    }

    div:nth-child(2) {
      ul {
        li {
          font-size: 1.5rem;
          padding: 2%;
        }
      }
    }
  }

  section:nth-child(3) {
    display: flex;

    div {
      flex: 1;
      padding: 2%;
    }

    div:nth-child(1) {
      h1 {
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        padding: 1%;
      }
    }

    div:nth-child(2) {
      background: #263238;
      position: relative;

      h1 {
        position: absolute;
        font-size: 4rem;
      }

      h1:nth-child(1) {
        color: #c2185b;
        top: 30%;
      }

      h1:nth-child(2) {
        color: #fff;
        background: #c2185b;
        top: 54%;
        right: 0;
        padding: 0.5rem 5rem;
      }
    }
  }

  section:nth-child(4) {
    h1 {
      text-align: center;
      padding: 4%;
    }

    .flex {
      display: flex;

      div {
        flex: 1;
        padding: 2%;
        background: #263238;
        position: relative;
        margin: 2%;
        height: 20rem;

        h1 {
          position: absolute;
          top: 40%;
          font-size: 1.5rem;
          border-bottom: 3px solid #c2185b;
          color: #fff;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  section:nth-child(5) {
    position: relative;
    background: #fbf2f6;

    h1 {
      text-align: center;
      padding: 4%;
    }

    .flex {
      display: flex;
      width: 80%;

      div {
        flex: 1;
        padding: 2%;
        position: relative;

        h1 {
          font-size: 1.5rem;
          color: #000;
          text-align-last: left;
        }
        p {
          font-size: 1.5rem;
        }
        .img-scroll {
          text-align: center;
          padding-top: 15%;
        
          img {
            width: 4.5rem;
          }
        }
      }
    }
    .side-image {
      position: absolute;
      right: -1.5rem;
      top: -10rem;
      text-align: right;
      width: 40%;
      img {
        width: 25rem;
      }
    }
  }
}
