.about-main {
  position: relative;
  background: #fff;
  padding: 4%;

  section:nth-child(1) {
    background-image: url(../../assets/about-us/About-Us.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 40%;
    padding: 2rem;

    h1 {
      text-align: center;
      margin-top: 2rem
    }

    .img {
      width: 100%;
      text-align: center;

      img {
        width: 10rem;
      }
    }
  }

  section:nth-child(2) {
    display: flex;

    div {
      flex: 1;
      padding: 1%;
    }

    div:nth-child(1) {
      img {
        width: 100%;
      }
    }

    div:nth-child(2) {
      ul {
        li {
          font-size: 1.5rem;
          padding: 2%;
        }
      }
    }
  }

  section:nth-child(3) {
    display: flex;

    div {
      flex: 1;
      padding: 2%;
    }

    div:nth-child(1) {
      h1{
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
        padding: 1%;
      }
    }

    div:nth-child(2) {
    background: #263238;
    position: relative;
    h1{
      position: absolute;
      font-size: 4rem;
    }
    h1:nth-child(1){
      color: #C2185B;
      top: 30%;
      
    }
    h1:nth-child(2){
      color: #fff;
      background: #C2185B;
      top: 54%;
      right: -4.1rem;
      padding: .5rem 5rem;
    }
    }
  }
}
