<div class="about-main">
  <section>
    <h1>
      About Us
    </h1>
    <div class="img">
      <img src="../../assets/about-us/about-clip-art.svg" alt="">
    </div>
  </section>

  <section>
    <div>
      <img src="../../assets/about-us/Group 61.svg" alt="">
    </div>
    <div>
      <h1>
        Our Philocophy
      </h1>
      <ul>
        <li>Adherence to proper customer care policies and principles</li>
        <li>
          Promotion of fair and ethical business practice policies
        </li>
        <li>
          Promotion of employee wellness and empowerment
        </li>
        <li>
          Service excellence
        </li>
      </ul>
    </div>
  </section>
</div>
