<div class="about-main">
  <section>
    <h1>
      About Us
    </h1>
    <div class="img">
      <img src="../../assets/about-us/about-clip-art.svg" alt="">
    </div>
  </section>

  <section>
    <div>
      <img src="../../assets/about-us/Group 61.svg" alt="">
    </div>
    <div>
      <h1>
        Our Philocophy
      </h1>
      <ul>
        <li>Adherence to proper customer care policies and principles</li>
        <li>
          Promotion of fair and ethical business practice policies
        </li>
        <li>
          Promotion of employee wellness and empowerment
        </li>
        <li>
          Service excellence
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <h1>
        Our vision & mission
      </h1>
      <p>
        To become a world-class service provider that will match the international standards yet retains its African
        identity and content, and provide job opportunities of different trades and to build the company into a leading
        empowerment, in line with the nation’s strategy to develop the economy of our country.
      </p>
      <p>
        Building trust, understandings and having the recognition of all individual contribution. We respect our
        customers with their priorities and we shall act in a supportive and pro-active manner to overcome conflict of
        interest and expect our customers to treat our employees with respect.
      </p>
      <p>
        We will ensure that the services are provided economically and efficiently in order to give our clients a value
        for their money.
      </p>
      <p>
        We endeavour at all times to provide a comprehensive service to our clients. We strive to complete projects and
        within budget. We promote strict adherence to quality, health and safety standards and we adhere to labour
        equity and encourage harmonious personnel relationships in order to promote teamwork among staff.
      </p>
    </div>
    <div>
      <h1>VISION</h1>
      <h1>MISSION</h1>
    </div>
  </section>

  <section>
    <h1>Our objectives</h1>
    <div class="flex">
      <div>
        <h1>
          Growth
        </h1>
      </div>
      <div>
        <h1>
          Upliftment
        </h1>
      </div>
      <div>
        <h1>
          Quality service
        </h1>
      </div>
      <div>
        <h1>
          Legally obliged
        </h1>
      </div>
      <div>
        <h1>
          Control
        </h1>
      </div>
    </div>
  </section>

  <section>
    <h1>
      Our commitment
    </h1>

    <div class="flex">
      <div>
        <img src="../../assets/about-us/hand-shake.svg" alt="">
      </div>
      <div>
        <h1>OUR COMMITMENT TO THE SERVICE INDUSTRY</h1>
        <p>
          All successfully global economies and profitable businesses reflect an efficient service industry, which
          supports them.
        </p>
        <div class="img-scroll">
          <img src="../../assets/about-us/chevron-circle-down-solid.svg" alt="">
        </div>
      </div>

    </div>

    
    <div class="side-image">
      <img src="../../assets/about-us/Intersection-3.svg" alt="">
    </div>

  </section>

  <section>
    <h1>Key factors which are prerequisite for successful economy and business including the following:</h1>
    <div class="grid">

    <div>
      <img src="../../assets/about-us/c1.svg" alt="">
      <h1>Efficiency</h1>
    </div>
    <div>
      <img src="../../assets/about-us/c2.svg" alt="">
      <h1>Efficiency</h1>
    </div>
    <div>
      <img src="../../assets/about-us/c3.svg" alt="">
      <h1>Versatile </h1>
    </div>
    <div>
      <img src="../../assets/about-us/c4.svg" alt="">
      <h1>Highly skilled</h1>
    </div>
    <div>
      <img src="../../assets/about-us/c5.svg" alt="">
      <h1>Easy access</h1>
    </div>
    <div>
      <img src="../../assets/about-us/c6.svg" alt="">
      <h1>Technological </h1>
    </div>
  </div>
  <div class="long-logo">
    <img src="../../assets/about-us/longlogo.svg" alt="">
  </div>
  </section>
</div>
