<div class="vision-container">
  <h1>
    World Class
  </h1>

  <p>
    We at SOMUHLE PROJECTS (PTY) LTD aim to being a world-class service provider that will match nation and
    international standards whiles retaining our African identity & content
  </p>

  <p>
    We at SOMUHLE PROJECTS (PTY) LTD aim to being a world-class service provider that will match nation and
    international standards whiles retaining our African identity & content
  </p>

  <p>
    We at SOMUHLE PROJECTS (PTY) LTD aim to being a world-class service provider that will match nation and
    international standards whiles retaining our African identity & content
  </p>
</div>

<div class="stories">
    <div class="btn-scroll">
    <img src="assets/nav/chevron-circle-down-solid.svg" alt="">
    <div></div>

      </div>
  <h1>Customer stories.</h1>

  <div class="cards">
    <div class="card">
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
    <div class="card">
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
    <div class="card">
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
    <div class="card">
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
  </div>
</div>
