.vision-container {
  width: 70%;
  margin-left: 15%;
  color: #fff;

  background-image: url(../../assets/nav/01.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 15%;

  h1 {
    padding-top: 10%;
  }

  p {
    font-size: .6em;
    padding: 1% 0%
  }
}

.stories {
    clip-path: polygon(0 10%, 100% 0%, 100% 85%, 0% 100%);
    background: #fff;
  padding: 3%;
}

.cards {
    display: flex;
  .card {
    background: #FBC02D;
    color: #000;
    width: 25%;
    margin: 2.5%;
    box-sizing: border-box;
    padding: 1%;

    p{
        padding: 5%;
        font-size: .6em;

    }
  }
}
