$top : 10%;

.home-main {
  height: 100%;
  background-image: url(../../../../assets/nav/paint-bg.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  position: relative;
  padding: 0;

  .box-heading {
    width: 45%;
    position: absolute;
    left: 50%;
    top: $top*1.5;
    transform: translate(-50%, -50%);
    text-align: center;

    h3 {
      margin-bottom: 3rem;
      border-bottom: .5px solid #B03A2E;
      width: 40%;
      align-self: center;
      margin-left: 30%;
    }

    h1 {
      margin: 1rem;
    }

    p {
      font-size:1rem;
    }
  }

  .btn-scroll {
    // border: 1px solid red;
    top: $top*3;
    text-align: center;

    div {
      background: red;
      width: 1px;
      height: 50px;
      margin-left: 50%;
    }

    img {
      width: 10%;
      margin-top: -6px;
    }

  }

  .services-box {
    top: $top*4;
    width: 65%;

    background-image: url(../../../../assets/nav/bg-services.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .service-content {
    top: $top*5;
    left: 25%;
    width: 45%;
    padding: 2%;
    box-sizing: border-box;

    h1 {
      text-align: left;
    }

    p {
      // background: red;
      padding: 2%;
      margin: 1%;
      text-align-last: left;
    }

    ul {
      margin-top: 4%;
      list-style-type: none;

      li {
        display: inline-block;
        padding: 2%;
      }
    }

    .paint {
      width: 10%;
    }
  }

  .feature-box {
    background: #C2185B;
    display: flex;
    top: $top*5.5;
    left: 72%;
    width: 40%;
    box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);


    h1 {
      flex: 1;
      color: #fff;

      span {
        display: block;
        padding: 2%;
      }

      span:nth-child(1) {
        font-size: .5em;
      }

      span:nth-child(2) {
        font-size: .8em;
      }

      span:nth-child(3) {
        font-size: .4em;
      }

    }

    .img {
      flex: 1;

      img {
        width: 100%;
      }
    }
  }

  .paint {
    top: $top*7.5;
    left: 65%;

    img {
      width: 70%;
    }
  }

  .side-bg {
    position: absolute;
    width: 50%;
    right: -1.6%;
    top: $top*1.8;
    height: 100%;
    background-image: url(../../../../assets/nav/half-circlebg.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top right;
    padding: 0;
  }
  .mission-box{
    top: $top*8;
    width: 65%;

    background-image: url(../../../../assets/nav/vision-and-mission.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
