<div class="home-main">
  <div class="box-heading">
    <h3>welcome to</h3>
    <h1>
      The water blasting system
      Specialist.
    </h1>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. It has survived not only five centuries
    </p>
  </div>

  <div class="btn-scroll">
    <img src="../../assets/nav/chevron-circle-down-solid.svg" alt="">
    <div></div>
  </div>



  <div class="service-content">
  <div class="side-bg">
    <img src="assets/nav/half-circlebg.svg" alt="">
    <div class="feature-box">
        <h1>
          <span>HIGH PRUSSURE CLEANING</span>
          <span>0 BAR TO 750 </span>
          <span>BAR SERIES PUMPS</span>
        </h1>
    
        <div class="img">
          <img src="../../assets/nav/matchine.svg" alt="">
        </div>
      </div>
  </div>
 
    <div class="services-box">
      <h1>Our Services</h1>
    </div>
   
    <div  class="quality-heading">
        <h1>
            We provide quality Services
          </h1>
      
          <p>
            SOMUHLE PROJECTS (PTY) LTD is an industrial cleaning
            services company that is stamping its mark in a highly
            competitive South African market.
          </p>
      
          <p>
            We at SOMUHLE PROJECTS (PTY) LTD service our clients in a
            market that ranges from sugar mill, paper mill
            petro chemical plants, power stations and municipalities
          </p>
      
          <p>
            SOMUHLE PROJECTS (PTY) LTD is a company which was
            established with the intention of providing Quality
            Service at competitive prices.
          </p>
          <ul>
              <li>
                <a class="btn-primary" routerLink="">Contact Us</a>
              </li>
              <li>
                <a class="btn-secondary" routerLink="">OUR SERVICES</a>
        
              </li>
            </ul>
    </div>
    
    <div class="mission-heading">

        <div class="paint">
            <img src="../../assets/nav/paint.svg" alt="">
          </div>
        
          <div class="mission-box">
            <h1>Our Vision</h1>
          </div>
    </div>
  </div>



</div>
