.footer-container {
  color: #fff;

  h1 {
    text-align: center;

    span {
      display: block;
    }

    @media only screen and (max-width: 900px) {
      font-size: 1.6rem;
    }
  }

  p {
    text-align: center;
    padding: 2%;

    @media only screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
  }

  .form {
    display: flex;
    justify-content: center;

    padding: 2%;
    width: 70%;
    margin-left: 15%;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 900px) {

      .txt-box {
        width: 100%;
        margin: 1%;
      }

    }

    .btn-info {
      @media only screen and (max-width: 900px) {
        font-size: 1.5rem;
      }
    }

    div {
      flex: 1;
      text-align: center;
    }

    div:nth-child(3) {
      padding-top: 1%;
      @media only screen and (max-width: 900px) {
padding: 9%;
      }
    }
  }

  .command {
    display: block;
    width: 100%;
    padding: 3%;

    span {
      display: inline;
      font-size: .6em;
      font-weight: normal;
    }
  }

  .fab {
    margin: 1%;
  }

  a {
    color: white;
  }
}
