.app-main {
  background: #fff;
  background: #C2185B;
  padding-bottom: 2rem;
  box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);
  width: 80vw;
  height: 100%;
  @media only screen and (max-width: 900px) {
    width: 100%;
  margin: 0 auto;
  }

  section:nth-child(1) {
    height: 12vh;
    background: #fff;
    
    @media only screen and (max-width: 900px) {
    height: 7vh;

    }

  }

}
