@import "../../assets/sass/variables";

.services-main {
  position: relative;
  background: #fff;

  section:nth-child(1) {
    background-image: url(../../assets/our-services/Our_Services..svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 40%;
    padding: 2rem;

    h1 {
      text-align: center;
      margin-top: 2rem
    }

    .img {
      width: 100%;
      text-align: center;

      img {
        width: 10rem;
      }
    }
  }



  section:nth-child(2) {
    .row {
      text-transform: capitalize;
      backface-visibility: hidden;
      .text-box {
        position: absolute;
        left: 25vw;
        text-align: center;
      }

      .header-main {
        display: block;
      }

      .header-sub {
        display: block;
        color: $pink-color;
      }
    }

    height: 20vh;
  }

  section:nth-child(3){
    height: 60vh;
    .flex{
      display: flex;

      div{
        flex: 1;
        padding: 2%;
        background: $white-color;
        position: relative;
        margin: 7%;
        margin-top:2%;      
        height: 32.9rem;
        text-align: center;
        box-shadow: -3px 3px 39px 0px rgba(0, 0, 0, 0.15);
        img{
          height: 144px;
        }

        h1{ 
          border-top: 3px solid $pink-color;         
          color: $black-color;
          margin-top: 3rem;   
        }

        .header-main{
          display: block;
          font-size: 1.5rem;
          font-weight: 400;
        }
        .header-sub{
          margin-top: 3vh;
          display: block;
          font-size: 1rem;
        }
      }
    }
  }

  section:nth-child(4){
    height: 30vh;
    .text-box{
      position: absolute;
      width: 120.2rem;
      left: 10%;
      text-align: center;
      height: 15vh;
      border-left: 3px solid $pink-color; 
      box-shadow: -3px 3px 39px 0px rgba(0, 0, 0, 0.15);
      h1{
        position: absolute;
        font-size: 2rem;
        top: 5vh;           
      }
    }
  }

  section:nth-child(5){

    .flex{
      display: flex;
      
      div {
        flex:1;
        padding: 2%;
        position: relative;
        
        img{
          height: 144px;
        }        
      }

      .paragraph{
        height: 20vh;
        margin-left: 5rem;
        border-left: 3px solid $pink-color; 
        h1{
          font-size: 1.5rem;
          font-weight: normal;
        }
      }

      .image{     

        .header-main{          
          font-size: 2rem;
          padding-top: 4rem;
          height: 10vh;
          padding-left: 11rem;     
          border-right: 3px solid $pink-color;   
          box-shadow: -1px 14px 25px -7px rgba(0, 0, 0, 0.15);
        }
     
      }
    }

    .flex-2{
      display: flex;
      
      div {
        flex:1;
        padding: 2%;
        position: relative;
        
        img{
          height: 144px;
        }        
      }

      .paragraph{
        height: 20vh;
        margin-left: 5rem;
        border-right: 3px solid $pink-color; 
        h1{
          font-size: 1.5rem;
          font-weight: normal;
        }
      }

      .image{     

        .header-main{          
          font-size: 2rem;
          padding-top: 4rem;
          height: 10vh;
          padding-left: 11rem;     
          border-left: 3px solid $pink-color;   
          box-shadow: -1px 14px 25px -7px rgba(0, 0, 0, 0.15);
        }
     
      }
    }
     
  }


}
