@import "../../assets/sass/variables";

.services-main {
  position: relative;
  background: #fff;

  section:nth-child(1) {
    background-image: url(../../assets/our-services/Our_Services..svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 40%;
    padding: 2rem;

    h1 {
      text-align: center;
      margin-top: 2rem;
    }

    .img {
      width: 100%;
      text-align: center;

      img {
        width: 10rem;
      }
    }
  }

  section:nth-child(2) {
    .row {
      text-transform: capitalize;
      backface-visibility: hidden;

      .text-box {
        text-align: center;
      }

      .header-main {
        display: block;
      }

      .header-sub {
        display: block;
        color: $pink-color;
      }
    }

    height: 20vh;
  }

  section:nth-child(3) {
    .flex {
      display: flex;

      @media only screen and (max-width: 900px) {
        flex-direction: column;
      }

      div {
        flex: 1;
        padding: 2%;
        background: $white-color;
        position: relative;
        margin: 7%;
        margin-top: 2%;
        height: 32.9rem;
        text-align: center;
        box-shadow: -3px 3px 39px 0px rgba(0, 0, 0, 0.15);

        img {
          height: 144px;
        }

        h1 {
          border-top: 3px solid $pink-color;
          color: $black-color;
          margin-top: 3rem;
        }

        .header-main {
          display: block;
          font-size: 1.5rem;
          font-weight: 400;
        }

        .header-sub {
          margin-top: 3vh;
          display: block;
          font-size: 1rem;
        }
      }
    }
  }

  section:nth-child(4) {
    padding-bottom: 3%;

    .text-box {
      text-align: center;

      h1 {
        font-size: 2rem;
        width: 80%;
        margin: 0 auto;
        border-left: 3px solid #c2185b;
        box-shadow: -3px 3px 39px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
  .section-main-services {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3%;
    @media only screen and (max-width: 900px) {
      grid-template-columns: 100%;
    }
    div {
      padding: 5%;
    }
    p {
      font-size: 1.5rem;
      padding: 1%;
    }
    ul {
      list-style: none;
      padding: 2%;

      li {
        font-size: 1.5rem;
        padding: 2%;

        span {
          display: inline-block;
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 1.2rem;
          border: 0.2rem solid #c2185b;
          background: #c2185b;
        }
      }
    }
  }
}
