.services-main {
    position: relative;
    background: #fff;
  
    section:nth-child(1) {
      background-image: url(../../assets/about-us/About-Us.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: 40%;
      padding: 2rem;
  
      h1 {
        text-align: center;
        margin-top: 2rem
      }
  
      .img {
        width: 100%;
        text-align: center;
  
        img {
          width: 10rem;
        }
      }
    }
  }
  