<div class="services-main">
  <section>
    <h1>
      Our Services
    </h1>
    <div class="img">
      <img src="assets/about-us/about-clip-art.svg" alt="">
    </div>
  </section>

  <section>
    <div class="row">
      <div class="text-box">
        <h1>
          <span class="header-main">Our company specializes in the following </span>
          <span class="header-sub">services</span>
        </h1>
      </div>
    </div>
  </section>

  <section>
    <div class="flex">
      <div>
        <img src="assets/images/pump1.svg" alt="">
        <h1>
          <span class="header-main">High pressure cleaning</span>
          <span class="header-sub">0 bar to 750 bar series pumps</span>
        </h1>

      </div>
      <div>
        <img src="assets/images/pump2.svg" alt="">

        <h1>
          <span class="header-main">Ultra-High pressure cleaning</span>
          <span class="header-sub">750 bar to 1000 bar series pumps</span>
        </h1>

      </div>
      <div>
        <img src="assets/images/pump3.svg" alt="">

        <h1>
          <span class="header-main">Super Ultra-High pressure cleaning</span>
          <span class="header-sub">1000 bar to 2800 bar series pumps</span>
        </h1>

      </div>
    </div>
  </section>

  <section>
    <div class="text-box">
      <h1>
        The above cleaning services are used to ensure that any deposited sludge, scale & chemical
        residue from pipelines, heat exchanger bundles, columns, tanks and vessels are removed
      </h1>
    </div>
  </section>

  <section class="section-main-services">
    <!-- 1 -->
    <div class="left-box">
      <p>
        SOMUHLE PROJECTS (PTY) LTD one of its major service is to remove and transportation of solid and liquid waste
        both toxic and non-toxic. The logistics of transporting hazardous waste forms an integral part of our company’s
        operation with a well maintained super sucker and gully suckers to remove inflammable and combustible liquids
        from tanks.
      </p>
    </div>
    <div class="right-box">
      <img src="assets/our-services/s1.svg" alt="">
    </div>


    <!-- 2 -->
    <div class="left-box">
      <img src="assets/our-services/s2.svg" alt="">

    </div>
    <div class="right-box">
      <p>
        This service uses the force of a super high pressure water jet to provide the cleaning action of an abrasive
        medium minimizing costly sand consumption and eliminating many of the safety, health and environment hazards
        often associated with dry sandblasting.
        Wet abrasive blasting can be applied to clean steel to a white metal finish or remove tightly bonded paint from
        steel and concrete.

      </p>
    </div>

    <!-- 3 -->
    <div class="left-box">
      <p>
        SOMUHLE PROJECTS (PTY) LTD is equipped with the latest technology and vast experience for the cleaning of all
        types of tanks i.e. Vertical or horizontal, fixed or floating roofs containing the full range of petroleum
        products.
      </p>
      <p>
        The following methods of desludging can be used to achieve the desired results:
      </p>
      <ul>
        <li>
          <span></span> Manual desludging - manually bagging product in bio-degradable plastic bags and dumping into
          skips
        </li>
        <li>
          <span></span>Pumping products out of tanks using pneumatic pumps.
        </li>
        <li>
          <span></span> Super sucking product from tanks using vacuum trucks.
        </li>
      </ul>
      <p>
        Once the desludging process has completed, tanks are high pressure water jetted to ensure a completely gas-free
        condition and handed back to the client. Where atmospheric condition in a tank is hazardous, crew members will
        enter the tank using under octal conditions using breathing air.
      </p>
    </div>
    <div class="right-box">
      <img src="assets/our-services/s3.svg" alt="">
    </div>

    <!-- 4-->
    <div class="left-box">
      <img src="assets/our-services/s4.svg" alt="">

    </div>
    <div class="right-box">
      <p>
        Cold cutting calls for the use of ultra-high pressure water jetting to cut steel, concrete and composite
        material. The process uses ultra-high pressure pumps ranging from 1000 bar to 2800 bar along with water jet
        abrasives and water jet equipment systems e.g.
      </p>
      <ul>
        <li>
          <span></span> Pipelines
        </li>
        <li>
          <span></span>Sludge doors and windows in tanks
        </li>
        <li>
          <span></span> Demotion of tanks engineered steel structures
        </li>
        <li>
          <span></span> Concrete
        </li>
      </ul>
    </div>

    <!-- 5 -->
    <div class="left-box">
      <p>
        SOMUHLE PROJECTS (PTY) LTD also provides a service with highly skilled and trained employees as well as
        equipment and method statements, process and procedures are fully compliant with all relevant laws, by-laws,
        rules and regulations
      </p>
    </div>
    <div class="right-box">
      <img src="assets/our-services/s5.svg" alt="">

    </div>
  </section>


</div>
