<div class="services-main">
  <section>
    <h1>
      Our Services
    </h1>
    <div class="img">
      <img src="assets/about-us/about-clip-art.svg" alt="">
    </div>
  </section>
  <section>
    <div class="row">
      <div class="text-box">
        <h1>
          <span class="header-main">Our company specializes in the following </span>
          <span class="header-sub">services</span>
        </h1>
      </div>
    </div>
  </section>
  <section>
    <div class="flex">
      <div>
        <img src="assets/images/pump1.svg" alt="">

        <h1>
          <span class="header-main">High pressure cleaning</span>
          <span class="header-sub">0 bar to 750 bar series pumps</span>
        </h1>

      </div>
      <div>
        <img src="assets/images/pump2.svg" alt="">

        <h1>
          <span class="header-main">Ultra-High pressure cleaning</span>
          <span class="header-sub">750 bar to 1000 bar series pumps</span>
        </h1>

      </div>
      <div>
        <img src="assets/images/pump3.svg" alt="">

        <h1>
          <span class="header-main">Super Ultra-High pressure cleaning</span>
          <span class="header-sub">1000 bar to 2800 bar series pumps</span>
        </h1>

      </div>
    </div>
  </section>
  <section>
    <div class="text-box">
      <h1>
        The above cleaning services are used to ensure that any deposited sludge, scale & chemical
        residue from pipelines, heat exchanger bundles, columns, tanks and vessels are removed
      </h1>
    </div>
  </section>
  <section>
    <div class="flex">     
        <div class="paragraph">
         <h1>
                SOMUHLE PROJECTS (PTY) LTD one of its major service is to remove and transportation of solid and liquid waste
                both toxic and non-toxic. The logistics of transporting hazardous waste forms an integral part of our
                company’s operation with a well maintained super sucker and gully suckers to remove inflammable and
                combustible liquids from tanks.
         </h1> 
        </div>
        <div class="image">
            <img src="assets/our-services/service-1.svg" alt="">
            <h1 class="header-main">
                Waste vacuuming & transportation
            </h1>
        </div>    
    </div>
  </section>

</div>
