
<div class="stories">
    <div class="btn-scroll">
    <img src="assets/nav/chevron-circle-down-solid.svg" alt="">
    <div></div>

      </div>
  <h1>Customer stories.</h1>

  <div class="cards">
    <div class="card">
        <div class="icon">
            <img src="assets/mobile/icon.svg" alt="">
          </div>
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <img src="assets/mobile/icon.svg" alt="">
      </div>
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/mobile/icon.svg" alt="">
          </div>
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/mobile/icon.svg" alt="">
          </div>
      <h1>"awesome service"</h1>
      <p>
        It is a long established
        fact that a reader will be
        distracted by the readable
        content of a page when
        looking at its layout..
      </p>
    </div>
  </div>
</div>
