<div class="nav">
  <a routerLink="" class="logo">
    <img src="assets/nav/logo.svg" alt="">
    <img class="mobile-logo" src="assets/mobile/mobile-logo.svg" alt="">
  </a>

  <div class="menu">
    <ul>
      <li>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li>
        <a routerLink="about-us" routerLinkActive="active">About Us</a>
      </li>
      <li>
        <a routerLink="our-services" routerLinkActive="active">Services</a>
      </li>
      <li>
        <a class="btn-primary" routerLink="contact-us" routerLinkActive="active">Contact Us</a>

      </li>
    </ul>
    <img src="assets/mobile/mobile-menu-btn.svg" class="mobile-logo" alt="">

  </div>
</div>
