@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i");

@import "assets/sass/grid";
@import "assets/sass/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  letter-spacing: 1.7;
  color: #000;
  background: #c2185b;
  padding: 3rem;
  padding-left: 10%;

  @media only screen and (max-width: 900px) {
    padding: .5rem;
  }
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 2.5rem;
}
p{
  font-size: 2rem;
}
img {
  width: 100%;
}

.btn-primary {
  background: #c2185b;
  color: #fff;
  border-radius: 1000em;
  padding: 0.5em 1.5em;
  box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);
}
.btn-info {
  background: #1565c0;
  color: #fff;
  border-radius: 1000em;
  padding: 0.5em 1.5em;
  box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);
}

.btn-secondary {
  color: #1565c0;
  background: rgb(227, 231, 231);
  border-radius: 1000em;
  padding: 0.5em 1.5em;
  box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);
}

.txt-box {
  padding: 5%;
  border-radius: 1px;
  border: none;
  width: 90%;
}

/*
0 - 600px phone
600px - 900px tab-port
900px - 1200px tab-land
1200px - 1800px nornal desktop
*/

/*
Rems ==   
Ems  ==  are the best options for media queries
em = 16px;
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
}
