.home-main {
  height: 100%;
  background-image: url(../../assets/nav/paint-bg.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  position: relative;
  padding: 0;

  .box-heading {
    width: 45%;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    text-align: center;

    h3 {
      margin-bottom: 3rem;
      border-bottom: .5px solid #B03A2E;
      width: 40%;
      align-self: center;
      margin-left: 30%;
    }

    h1 {
      margin: 1rem;
    }

    p {
      font-size: .5em;
    }
  }


  .services-box {
    top: 28%;
    width: 65%;

    background-image: url(../../assets/nav/bg-services.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .service-content {
    top: 39%;
    left: 25%;
    width: 40%;
    padding: 2%;
    box-sizing: border-box;

    h1 {
      text-align: left;
    }

    p {
      // background: red;
      padding: 2%;
      margin: 1%;
      text-align-last: left;
    }

    ul {
      margin-top: 4%;
      list-style-type: none;

      li {
        display: inline-block;
        padding: 2%;
      }
    }
  }

  .feature-box {
    background: #C2185B;
    display: flex;
    top: 36%;
    left: 72%;
    width: 40%;
    box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);


    h1 {
      flex: 1;
      color: #fff;

      span {
        display: block;
        padding: 2%;
      }

      span:nth-child(1) {
        font-size: .5em;
      }

      span:nth-child(2) {
        font-size: .8em;
      }

      span:nth-child(3) {
        font-size: .4em;
      }

    }

    .img {
      flex: 1;

      img {
        width: 100%;
      }
    }
  }


  .side-bg {
    position: absolute;
    width: 50%;
    right: -1.6%;
    top: 15%;
    height: 80%;
    background-image: url(../../assets/nav/half-circlebg.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top right;
    padding: 0;

  }
}
