.home-page-main {



  .section-home-main{
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);

@media only screen and (max-width: 900px) {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 98%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 98%, 0% 100%);
}

  }
  .section-vision{
    background: #C2185B;
    
  }
  .section-stories{
    -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0% 100%);

    @media only screen and (max-width: 900px) {
      -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
      clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    }
  }
  .section-footer{
    
  }
}
